.companySearch {
  section {
    ul {
      padding: 0;
      li {
        list-style: none;
        font-size: 20px;
      }
    }
  }
}

#stockSearch {
  background: lighten($primary-color, 75%);
  height: 50px;
  font-size: 25px;
  font-weight: 100;
  &:focus {outline:none;}
}

label {
  font-size: 25px;
  font-weight: 150;
}

.input-group-addon {
  font-size: 25px;
  font-weight: 100;
}

#stockSearch {
  outline: none;
  // border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  &:focus {
    border: 1px solid #ccc;
  }
}
