form {
  .formGroup {
    margin: 10px;
    label {
      display: inline-block;
      width: 150px;
      line-height: 30px;
    }
    input {
      display: inline-block;
      width: 200px;
      line-height: 30px;
    }
  }

}
