header {
  h1 {
    display: inline-block;
    width: 100px;
  }
  nav {
    display: inline-block;
    width: 500px;
    ul {
      width: 100%;
      height: 50px;
      margin: 0;
      li {
        line-height: 50px;
        list-style: none;
        text-align: center;
        font-size: 30px;
        float: left;
        width: 33.33%;
        &:hover {
          background: lightgrey;
        }
        a {
          display: block;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
