.portfolioContainer {
  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          h3 {
            font-weight: 100;
            text-align: center;
            line-height: 200px;
          }
        }
      }
    }
  }
}
