<div ng-if="new.error" class="alert alert-warning" role="alert">{{ new.error }}</div>

<h2>Search for a company (US only)</h2>
<form name="getCompany" method="post" autocomplete="off" ng-submit="new.getData()">
  <div class="form-group">
    <input
      type="text"
      name="stockName"
      placeholder="Enter stock name here"
      ng-model="asyncSelected"
      uib-typeahead="company.label for company in new.getCompany($viewValue)" typeahead-loading="loadingLocations"
      typeahead-on-select="new.selectCompany($item, $model, $label)"
      autofocus=""
      class="form-control">
  </div>

  <input type="submit" class="btn btn-primary pull-right" value="Submit">
</form>

<!-- Company Stats -->
<section ng-show="new.company">
  <ul>
    <li><strong>Name:</strong> {{ new.company.label }}</li>
    <li><strong>Current Price:</strong> {{ new.company.currentPrice }}</li>
    <li><strong>Last Closing Price:</strong> {{ new.company.closingPrice }}</li>
  </ul>

  <!-- Chart container -->
  <div id="container" style="width:100%; height:400px;"></div>

  <!-- Trade -->
  <!-- Trade container -->
  <div class="tradeContainer">
    <h2>Trade</h2>

    {{ new.trade }}

    <form ng-submit="new.submitBuyTrade()" name="tradeForm">

      <div class="formGroup">
        <label for="trade_type">Buy/Sell</label>
        <input type="text" id="trade_type" ng-model="new.trade.trade_type">
      </div>

      <div class="formGroup">
        <label for="epic">EPIC</label>
        <input type="text" id="epic" ng-model="new.trade.epic" ng-bind="new.trade.epic = new.company.result.Symbol" readonly>
      </div>

      <div class="formGroup">
        <label for="number">Buy Shares</label>
        <input type="number" id="number" placeholder="Shares to buy" ng-model="new.trade.number_of_shares" ng-change="new.calculateValue()">
      </div>

      <div class="formGroup">
        <label for="price">Share Price (USD)</label>
        <input type="text" id="price" ng-model="new.trade.price" ng-bind="new.trade.price = new.company.currentPrice" readonly>
      </div>

      <div class="formGroup">
        <label for="value">Value of Purchase</label>
        <input type="text" id="value" ng-model="new.trade.value" readonly>
      </div>

      <div class="formGroup">
        <label for="exchange">Exchange</label>
        <input type="text" id="exchange" ng-model="new.trade.exchange" ng-bind="new.trade.exchange = new.company.result.Exchange" readonly>
      </div>

      <input type="submit" class="btn btn-primary pull-right" value="Buy">
    </form>
  </div>
</section>
