<!DOCTYPE html>
<html ng-app="bodhinomad">
  <head>
    <meta charset="utf-8">
    <title>BodhiNomad</title>
  </head>
  <!-- <script src="/js/themes/gray.js"></script> -->
  <script type="text/javascript" src="/js/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <base href="/" />
  <body ng-controller="mainCtrl as main">
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">BodhiNomad</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="main.user">
                <a ui-sref="companiesNew">Search companies</a>
              </li>
              <li ng-if="main.user">
                <a ui-sref="companiesIndex">Trades</a>
              </li>
              <li ng-if="main.user">
                <a ui-sref="usersShow({id: main.user.id})">Portfolio</a>
              </li>
              <li ng-if="!main.user">
                <a ui-sref="register">Register</a>
              </li>
              <li ng-if="!main.user">
                <a ui-sref="login">Login</a>
              </li>
              <li ng-if="main.user">
                <a ng-click="main.logout()" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main ui-view class="container"></main>
  </body>
</html>
