<h2>Welcome back, {{ show.user.first_name }}</h2>
<p>These are your trades:</p>

<table>
  <tbody>
    <tr>
      <td>Exchange</td>
      <td>EPIC</td>
      <td>Shares</td>
      <td>Current Price</td>
      <td>Book Price</td>
      <td>Current Value</td>
      <td>Book Value</td>
      <td>$ Profit/Loss</td>
      <td>% Profit/Loss</td>
    </tr>
    <tr ng-repeat="trade in show.user.trades track by $index">
      <td>{{ trade.exchange }}</td>
      <td>{{ trade.epic }}</td>
      <td>{{ trade.number_of_shares }}</td>
      <td>{{ trade.currentPrice }}</td>
      <td>{{ trade.price }}</td>
      <td>{{ trade.currentValue }}</td>
      <td>{{ trade.value }}</td>
      <td>{{ trade.dollarProfit }}</td>
      <td>{{ trade.percentageProfit }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th id="total" colspan="8">Total :</th>
      <td>
        <strong>{{ show.user.totalDollarProfit }}</strong>
      </td>
    </tr>
  </tfoot>
</table>
