<h2>Search for a company (US only)</h2>
<form action="index.html" method="post" autocomplete="off">
  <input type="text" name="stockName" placeholder="Enter stock name here" ng-model="home.companySearch" list="companiesList" ng-change="home.getCompanyList()" autofocus="">
  <datalist id='companiesList'>
    <option label='{{ home.companyList[0][0].Symbol }}' value='{{ home.companyList[0][0].Name }}'></option>
    <option label='{{ home.companyList[0][1].Symbol }}' value='{{ home.companyList[0][1].Name }}'></option>
    <option label='{{ home.companyList[0][2].Symbol }}' value='{{ home.companyList[0][2].Name }}'></option>
    <option label='{{ home.companyList[0][3].Symbol }}' value='{{ home.companyList[0][3].Name }}'></option>
    <option label='{{ home.companyList[0][4].Symbol }}' value='{{ home.companyList[0][4].Name }}'></option>
    <option label='{{ home.companyList[0][5].Symbol }}' value='{{ home.companyList[0][5].Name }}'></option>
    <option label='{{ home.companyList[0][6].Symbol }}' value='{{ home.companyList[0][6].Name }}'></option>
    <option label='{{ home.companyList[0][7].Symbol }}' value='{{ home.companyList[0][7].Name }}'></option>
    <option label='{{ home.companyList[0][8].Symbol }}' value='{{ home.companyList[0][8].Name }}'></option>
    <option label='{{ home.companyList[0][9].Symbol }}' value='{{ home.companyList[0][9].Name }}'></option>
  </datalist>
  <input type="submit" class="button" value="Submit" ng-click="home.getData()">
</form>
<div class="companyContainer" ng-hide="!home.companyData[0]">
  <div>
    Name: {{ home.companyName }}<br>
    Current Price: {{ home.detailsReturned[0][0].l_cur }}<br>
    Last Closing Price: {{ home.companyData[0].data[0][1] }} ({{ home.companyData[0].data[0][0] }})
  </div>

  <div id="container" style="width:100%; height:400px;"></div>
  <p>
    From {{ home.companyData[0].data[home.companyData[0].data.length - 1][0] }} to {{ home.companyData[0].data[0][0] }}
  </p>

</div>
